{
  "openapi": "3.1.0",
  "info": {
    "title": "StarReel Production API",
    "version": "0.1.48",
    "description": "Turn a script into a finished, downloadable short-drama episode over REST.\n\nPipeline: script → AI rewrite → cast/scenes/props extraction → portraits & sheets → storyboards → keyframes → video shots → TTS → final cut (.mp4).\n\n**Billing is prepaid and agent-safe**: big-ticket stages are quote-then-generate (`quote_*` returns a `quote_id`; for video, quote == actual charge). Insufficient balance returns 402 — nothing half-runs and the account never goes negative.\n\nAuth: exchange your API key at `POST /v1/agent/token` for a 15-minute bearer token.\n\nGenerated from the @starreel/mcp v0.1.48 tool surface (operationIds match MCP tool names 1:1)."
  },
  "servers": [
    {
      "url": "https://api.shortreelai.com/v1/produce",
      "description": "Production facade (paths below are relative to this base)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-lived token from POST /v1/agent/token"
      }
    }
  },
  "tags": [
    {
      "name": "characters",
      "description": "Operations under /characters"
    },
    {
      "name": "dramas",
      "description": "Operations under /dramas"
    },
    {
      "name": "episodes",
      "description": "Operations under /episodes"
    },
    {
      "name": "products",
      "description": "Operations under /products"
    },
    {
      "name": "project-options",
      "description": "Operations under /project-options"
    },
    {
      "name": "props",
      "description": "Operations under /props"
    },
    {
      "name": "scenes",
      "description": "Operations under /scenes"
    },
    {
      "name": "storyboards",
      "description": "Operations under /storyboards"
    },
    {
      "name": "videos",
      "description": "Operations under /videos"
    },
    {
      "name": "voice-clones",
      "description": "Operations under /voice-clones"
    },
    {
      "name": "auth",
      "description": "API-key → short-lived bearer token exchange"
    }
  ],
  "paths": {
    "/characters/{character_id}": {
      "put": {
        "operationId": "update_character",
        "summary": "改角色设定(名字/外貌/年龄段/族裔/性别/性格/戏份/档案锁定)",
        "description": "改角色设定(名字/外貌/年龄段/族裔/性别/性格/戏份/档案锁定)。改后需重出定妆图/相关图。免费。★profile_locked=1:客户确认外观后锁定档案,后续 AI 提取不再覆盖外貌/性格/描述——外貌锚着定妆图与人脸锁定,被覆盖=全片换脸;确认满意即锁,要再改先传 0 解锁。",
        "tags": [
          "characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "appearance": {
                    "type": "string"
                  },
                  "age_stage": {
                    "type": "string"
                  },
                  "ethnicity": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "personality": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "profile_locked": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "delete": {
        "operationId": "delete_character",
        "summary": "删除一个角色(提取误建/合并时用)",
        "description": "删除一个角色(提取误建/合并时用)。免费。",
        "tags": [
          "characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/characters/{character_id}/portrait": {
      "post": {
        "operationId": "set_character_portrait",
        "summary": "用客户自有图片作为角色定妆图(身份锚,优先级高于 AI 生成;之后 AI 重生默认不覆盖)",
        "description": "用客户自有图片作为角色定妆图(身份锚,优先级高于 AI 生成;之后 AI 重生默认不覆盖)。换图会自动失效并重建派生资产(三视图设定图/发型·身材参考)、重建人脸锁。★换图后响应含 stale_frames=[{storyboard_id,storyboard_number,frames}]——这些镜的首帧还是旧定妆图生成的、已被污染。要让新定妆图生效:对每个 stale_frame 用 quote_shot_frame+generate_shot_frame 重生该镜(平台会自动以新定妆图/设定图/人脸锁作锚,保全片一致)。不必逐镜自己指定模型/首尾帧。★千万别自制首尾帧再 upload_shot_frame——外部图没有角色身份锚/画风锚,人物·服装·画风必漂,那才是废片根源(不是\"杜绝废片\")。传本地文件(file_path,自动上传 COS)或已托管的图片 URL(image_url),二选一。免费。",
        "tags": [
          "characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/characters/{character_id}/sheet": {
      "post": {
        "operationId": "generate_character_sheet",
        "summary": "给**单个**角色出三视图设定图(镜头一致性根锚,所有镜头帧都会引用;比定妆图更完整)",
        "description": "给**单个**角色出三视图设定图(镜头一致性根锚,所有镜头帧都会引用;比定妆图更完整)。整集批量用 generate_character_sheets。前置:该角色已有定妆图。图片步,按用量后付不欠费。",
        "tags": [
          "characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "episode_id": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/characters/{character_id}/voice": {
      "post": {
        "operationId": "set_character_voice",
        "summary": "把音色绑到某角色,之后 generate_tts 用它给该角色配音",
        "description": "把音色绑到某角色,之后 generate_tts 用它给该角色配音。免费。只有要出片时才需要这步——克隆和试听都不需要角色。",
        "tags": [
          "characters"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_id": {
                    "type": "string",
                    "description": "来自 clone_voice / list_voices 的 voice_id(形如 lib:12)"
                  }
                },
                "required": [
                  "voice_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas": {
      "post": {
        "operationId": "create_drama",
        "summary": "新建一部短剧(剧壳)",
        "description": "新建一部短剧(剧壳)。★强烈建议建剧时一并设好基础项目设定——project_type/setting_brief(世界观·ERA LOCK)/ethnicity(族裔)/画幅分辨率,以及一致性锚(cinematography_prompt/art_bible/visual_lock)。这些全免费、是驱动全链一致性的地基;只传 title 建空壳会让后续所有生成跑偏、返工重花钱。按 total_episodes 自动建 N 空集,返回 drama_id 与各集 episode_id。免费。",
        "tags": [
          "dramas"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "剧名"
                  },
                  "total_episodes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200
                  },
                  "genre": {
                    "type": "string"
                  },
                  "style": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "16:9",
                      "1:1",
                      "4:5",
                      "4:3",
                      "21:9"
                    ]
                  },
                  "video_resolution": {
                    "type": "string",
                    "enum": [
                      "480p",
                      "720p",
                      "1080p",
                      "4k"
                    ]
                  },
                  "setting_brief": {
                    "type": "string"
                  },
                  "project_type": {
                    "type": "string",
                    "enum": [
                      "drama",
                      "ad",
                      "mv",
                      "brand_film"
                    ]
                  },
                  "rewrite_mode": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "director"
                    ]
                  },
                  "rewrite_pipeline": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "two_pass",
                      "single_forced"
                    ]
                  },
                  "fidelity_enforce": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "director_style": {
                    "type": "string"
                  },
                  "image_model": {
                    "type": "string"
                  },
                  "video_engine": {
                    "type": "string",
                    "enum": [
                      "seedance-2.5",
                      "hailuo-3",
                      "wan3.0",
                      "wan3.0-prime"
                    ]
                  },
                  "cinematography_prompt": {
                    "type": "string"
                  },
                  "art_bible": {
                    "type": "string"
                  },
                  "visual_lock": {
                    "type": "string"
                  },
                  "video_style_prompt": {
                    "type": "string"
                  },
                  "video_negative_prompt": {
                    "type": "string"
                  },
                  "motifs": {
                    "type": "string"
                  },
                  "theme": {
                    "type": "string"
                  },
                  "bgm_enabled": {
                    "type": "boolean"
                  },
                  "bgm_source": {
                    "type": "string",
                    "enum": [
                      "own",
                      "clip"
                    ]
                  },
                  "bgm_volume_preset": {
                    "type": "string",
                    "enum": [
                      "off",
                      "low",
                      "auto",
                      "high"
                    ]
                  },
                  "bgm_volume_db": {
                    "type": "number"
                  },
                  "use_clip_audio": {
                    "type": "boolean"
                  },
                  "show_subtitles": {
                    "type": "boolean"
                  },
                  "subtitle_secondary_lang": {
                    "type": "string"
                  },
                  "subtitle_translation_only": {
                    "type": "boolean"
                  },
                  "subtitle_position": {
                    "type": "string",
                    "enum": [
                      "bottom",
                      "top"
                    ]
                  },
                  "subtitle_margin_v": {
                    "type": "number"
                  },
                  "subtitle_animation": {
                    "type": "string"
                  },
                  "default_transition": {
                    "type": "string"
                  },
                  "default_transition_ms": {
                    "type": "number"
                  },
                  "reframe_mode": {
                    "type": "string"
                  },
                  "reframe_anchor": {
                    "type": "string"
                  },
                  "cover_card_default": {
                    "type": "string"
                  },
                  "poster_card_default": {
                    "type": "string"
                  },
                  "ethnicity_lock": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      }
                    },
                    "description": "(assembled by the client from tool args — see tool 'create_drama')"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "get": {
        "operationId": "list_dramas",
        "summary": "列出我名下的所有短剧(drama_id/剧名/类型/集数/进度)",
        "description": "列出我名下的所有短剧(drama_id/剧名/类型/集数/进度)。免费。",
        "tags": [
          "dramas"
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}": {
      "put": {
        "operationId": "update_project_settings",
        "summary": "建剧后修改项目设定",
        "description": "建剧后修改项目设定。除画幅/分辨率/世界观Brief/族裔/题材/导演风格外,现覆盖★整剧视觉一致性锚(摄影DNA cinematography_prompt/美术圣经 art_bible/视觉锁定 visual_lock/视频风格正负向词/视觉母题 motifs)、音频(bgm_source 自有vs原生/bgm_volume_preset 音量/use_clip_audio 用视频原声)、字幕(show_subtitles/双语 subtitle_secondary_lang/位置/边距/动效)、转场——即项目设定页全部通用设定。免费。⚠️ 世界观 Brief/族裔/画幅/一致性锚等改后,已生成的内容不会自动更新,需重生对应内容。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "genre": {
                    "type": "string"
                  },
                  "style": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "16:9",
                      "1:1",
                      "4:5",
                      "4:3",
                      "21:9"
                    ]
                  },
                  "confirm_aspect_change": {
                    "type": "boolean"
                  },
                  "video_resolution": {
                    "type": "string",
                    "enum": [
                      "480p",
                      "720p",
                      "1080p",
                      "4k"
                    ]
                  },
                  "setting_brief": {
                    "type": "string"
                  },
                  "rewrite_mode": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "director"
                    ]
                  },
                  "rewrite_pipeline": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "two_pass",
                      "single_forced"
                    ]
                  },
                  "fidelity_enforce": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "director_style": {
                    "type": "string"
                  },
                  "theme_statement": {
                    "type": "string"
                  },
                  "subtitle_preset": {
                    "type": "string"
                  },
                  "scene_group_mode": {
                    "type": "boolean"
                  },
                  "cta_text": {
                    "type": "string"
                  },
                  "target_duration_s": {
                    "type": "number"
                  },
                  "brand_voice": {
                    "type": "string"
                  },
                  "narrative_tone": {
                    "type": "string"
                  },
                  "story_structure": {
                    "type": "string"
                  },
                  "end_card_variant": {
                    "type": "string"
                  },
                  "mv_lyrics": {
                    "type": "string"
                  },
                  "mv_audio_url": {
                    "type": "string"
                  },
                  "image_model": {
                    "type": "string"
                  },
                  "video_engine": {
                    "type": "string",
                    "enum": [
                      "seedance-2.5",
                      "hailuo-3",
                      "wan3.0",
                      "wan3.0-prime"
                    ]
                  },
                  "cinematography_prompt": {
                    "type": "string"
                  },
                  "art_bible": {
                    "type": "string"
                  },
                  "visual_lock": {
                    "type": "string"
                  },
                  "video_style_prompt": {
                    "type": "string"
                  },
                  "video_negative_prompt": {
                    "type": "string"
                  },
                  "motifs": {
                    "type": "string"
                  },
                  "theme": {
                    "type": "string"
                  },
                  "bgm_enabled": {
                    "type": "boolean"
                  },
                  "bgm_source": {
                    "type": "string",
                    "enum": [
                      "own",
                      "clip"
                    ]
                  },
                  "bgm_volume_preset": {
                    "type": "string",
                    "enum": [
                      "off",
                      "low",
                      "auto",
                      "high"
                    ]
                  },
                  "bgm_volume_db": {
                    "type": "number"
                  },
                  "use_clip_audio": {
                    "type": "boolean"
                  },
                  "show_subtitles": {
                    "type": "boolean"
                  },
                  "subtitle_secondary_lang": {
                    "type": "string"
                  },
                  "subtitle_translation_only": {
                    "type": "boolean"
                  },
                  "subtitle_position": {
                    "type": "string",
                    "enum": [
                      "bottom",
                      "top"
                    ]
                  },
                  "subtitle_margin_v": {
                    "type": "number"
                  },
                  "subtitle_animation": {
                    "type": "string"
                  },
                  "default_transition": {
                    "type": "string"
                  },
                  "default_transition_ms": {
                    "type": "number"
                  },
                  "reframe_mode": {
                    "type": "string"
                  },
                  "reframe_anchor": {
                    "type": "string"
                  },
                  "cover_card_default": {
                    "type": "string"
                  },
                  "poster_card_default": {
                    "type": "string"
                  },
                  "ethnicity_lock": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      }
                    },
                    "description": "(assembled by the client from tool args — see tool 'update_project_settings')"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "get": {
        "operationId": "get_drama",
        "summary": "读一部剧的详情(设定/角色数/场景数/资产统计等)",
        "description": "读一部剧的详情(设定/角色数/场景数/资产统计等)。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/art-bible": {
      "post": {
        "operationId": "generate_art_bible",
        "summary": "生成美术圣经(色调/材质/气质,读角色+元数据)",
        "description": "生成美术圣经(色调/材质/气质,读角色+元数据)。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/assets": {
      "get": {
        "operationId": "get_assets",
        "summary": "读一部剧的全部资产聚合(角色/场景/道具/图片)",
        "description": "读一部剧的全部资产聚合(角色/场景/道具/图片)。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/budget-status": {
      "get": {
        "operationId": "get_budget_status",
        "summary": "查一部剧的预算状态(预算/已花费/剩余)",
        "description": "查一部剧的预算状态(预算/已花费/剩余)。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/color-script": {
      "post": {
        "operationId": "generate_color_script",
        "summary": "生成剧目色彩脚本(统一全片配色情绪)",
        "description": "生成剧目色彩脚本(统一全片配色情绪)。需该剧/集已有剧本文本。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "episode_id": {
                    "type": "integer",
                    "exclusiveMinimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/color-scripts": {
      "get": {
        "operationId": "get_color_scripts",
        "summary": "读该剧已生成的色彩脚本(全片配色情绪)",
        "description": "读该剧已生成的色彩脚本(全片配色情绪)。generate_color_script 生成、此工具读取。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/cost-estimate": {
      "get": {
        "operationId": "get_cost_estimate",
        "summary": "查一部剧的整体成本预估(点数)",
        "description": "查一部剧的整体成本预估(点数)。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/cover": {
      "post": {
        "operationId": "generate_cover",
        "summary": "给整部剧生成片头封面图",
        "description": "给整部剧生成片头封面图。图片步,按用量后付。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/deliverables": {
      "get": {
        "operationId": "get_deliverables",
        "summary": "品牌片:读交付物树(海报/母版/分轨/各平台版等)",
        "description": "品牌片:读交付物树(海报/母版/分轨/各平台版等)。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "post": {
        "operationId": "generate_deliverables",
        "summary": "品牌片:一键生成全部交付物",
        "description": "品牌片:一键生成全部交付物。后台异步,按用量后付。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/extract-setting-brief": {
      "post": {
        "operationId": "extract_setting_brief",
        "summary": "从一段世界观原文提炼简洁的 setting_brief(并存回项目)",
        "description": "从一段世界观原文提炼简洁的 setting_brief(并存回项目)。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "raw_text": {
                    "type": "string",
                    "minLength": 1,
                    "description": "世界观原文"
                  }
                },
                "required": [
                  "raw_text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/jobs": {
      "get": {
        "operationId": "get_jobs",
        "summary": "查一部剧的任务队列进度(出图/出视频/合成各阶段的 pending/processing/done/failed)",
        "description": "查一部剧的任务队列进度(出图/出视频/合成各阶段的 pending/processing/done/failed)。异步生成后用它看进度。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/motion-templates": {
      "post": {
        "operationId": "generate_motion_templates",
        "summary": "从分镜自动抽取动作模板(统一全片运动语言)",
        "description": "从分镜自动抽取动作模板(统一全片运动语言)。**需先有分镜**(先 generate_storyboards)。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "get": {
        "operationId": "get_motion_templates",
        "summary": "读该剧已有的动作模板(运镜/动作预设)",
        "description": "读该剧已有的动作模板(运镜/动作预设)。generate_motion_templates 生成、此工具读取。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/mv": {
      "get": {
        "operationId": "get_mv",
        "summary": "MV 项目:读歌词/故事/剧本当前状态",
        "description": "MV 项目:读歌词/故事/剧本当前状态。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/mv/lyrics": {
      "post": {
        "operationId": "set_mv_lyrics",
        "summary": "MV 项目:设置歌词(整曲音频另在建剧时传)",
        "description": "MV 项目:设置歌词(整曲音频另在建剧时传)。免费。之后 generate_mv_story → generate_mv_script。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lyrics": {
                    "type": "string",
                    "minLength": 1,
                    "description": "歌词全文"
                  }
                },
                "required": [
                  "lyrics"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/mv/script": {
      "post": {
        "operationId": "generate_mv_script",
        "summary": "MV 项目:据歌词+故事写首集可拍剧本(写 scriptContent)",
        "description": "MV 项目:据歌词+故事写首集可拍剧本(写 scriptContent)。之后走标准 extract_assets → 分镜 → …。按用量后付。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/mv/story": {
      "post": {
        "operationId": "generate_mv_story",
        "summary": "MV 项目:据歌词 AI 编一个 MV 故事线",
        "description": "MV 项目:据歌词 AI 编一个 MV 故事线。后台/同步,按用量后付。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/poster": {
      "post": {
        "operationId": "generate_drama_poster",
        "summary": "给整部剧生成海报图(KV)",
        "description": "给整部剧生成海报图(KV)。图片步,按用量后付。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/products": {
      "post": {
        "operationId": "add_product",
        "summary": "★广告项目必做:往商品库加一个商品(名称/卖点/图),是广告的**主体**——出视频时按分镜文本匹配产品图当锚,不建产品库镜头里的产品会漂移/瞎编",
        "description": "★广告项目必做:往商品库加一个商品(名称/卖点/图),是广告的**主体**——出视频时按分镜文本匹配产品图当锚,不建产品库镜头里的产品会漂移/瞎编。建完用 generate_product_sheet 出设定图(锚更稳)。免费(仅建条目)。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      },
      "get": {
        "operationId": "list_products",
        "summary": "广告项目:列出商品库",
        "description": "广告项目:列出商品库。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/props": {
      "get": {
        "operationId": "get_props",
        "summary": "列剧目道具库(每个道具名称/类型/描述/设定图)",
        "description": "列剧目道具库(每个道具名称/类型/描述/设定图)。★道具库≠广告商品库(add_product/list_products 是带货商品);道具库是剧目道具。免费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/scene-images/generate": {
      "post": {
        "operationId": "generate_scene_images",
        "summary": "确认后批量出场景图:后台异步",
        "description": "确认后批量出场景图:后台异步。⚠️ 批量报价确认流程:先调对应的 quote_* 工具,把返回的 estimated_points 原样告诉用户,用户明确同意后,才用返回的 quote_id 调本工具。不要擅自确认。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_id": {
                    "type": "string",
                    "description": "来自 quote_scene_images"
                  }
                },
                "required": [
                  "quote_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/scene-images/quote": {
      "post": {
        "operationId": "quote_scene_images",
        "summary": "报价:给缺图场景批量出场景图要多少点",
        "description": "报价:给缺图场景批量出场景图要多少点。返回 images_to_generate、estimated_points、quote_id。零扣费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/video-style": {
      "post": {
        "operationId": "generate_video_style",
        "summary": "生成视频风格锁 prompt(读 brief/artBible/visualLock,统一视频生成方向)",
        "description": "生成视频风格锁 prompt(读 brief/artBible/visualLock,统一视频生成方向)。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/visual-lock": {
      "post": {
        "operationId": "extract_visual_lock",
        "summary": "从世界观 Brief + 角色抽取「视觉锁定」规则(写 visual_lock,统一出图风格/族裔)",
        "description": "从世界观 Brief + 角色抽取「视觉锁定」规则(写 visual_lock,统一出图风格/族裔)。文本步后付不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "setting_brief": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/dramas/{drama_id}/world-concept": {
      "post": {
        "operationId": "generate_world_concept",
        "summary": "(★默认必做·很多第三方平台漏做这步·仍走报价确认)生成世界观概念图(固定4格:全景/时代/主场景/色彩),提升整剧视觉一致性",
        "description": "(★默认必做·很多第三方平台漏做这步·仍走报价确认)生成世界观概念图(固定4格:全景/时代/主场景/色彩),提升整剧视觉一致性。★分镜后默认调这个,别跳过;但仍要告知客户预估点数、客户确认才跑(不静默扣费)。需 setting_brief ≥30字。图片步,按固定成本后付、不欠费。",
        "tags": [
          "dramas"
        ],
        "parameters": [
          {
            "name": "drama_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/assign-voices": {
      "post": {
        "operationId": "assign_voices",
        "summary": "★给本集所有角色分配音色(配音导演 agent 按性别/性格/年龄/角色定位+项目语言选)",
        "description": "★给本集所有角色分配音色(配音导演 agent 按性别/性格/年龄/角色定位+项目语言选)。voiceStyle 不是提取时自动填的——不分配,generate_tts 就没音色。文本步(LLM)后付。后台异步,轮询 get_pipeline_status:assign_voices=done 即完成,再 generate_tts。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/bgm": {
      "post": {
        "operationId": "generate_bgm",
        "summary": "给整集生成/更换 AI 配乐(按情绪弧线)",
        "description": "给整集生成/更换 AI 配乐(按情绪弧线)。后台异步,按用量后付不欠费。返回情绪弧线段数与预估耗时;用 get_bgm_status 轮询生成进度。★配乐生成/改动**不会自动进已有成片**——完成后必须重新 compose_episode(免费)才能听到;get_final_cut 的 bgm_stale=true 就是在提示这一步。别用 re-render(吃旧时间线,不含新配乐)。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/bgm-status": {
      "get": {
        "operationId": "get_bgm_status",
        "summary": "查某集 AI 配乐生成状态:running(是否在生成)+已入库的配乐轨列表(track/覆盖镜段/淡入淡出)+cue 数",
        "description": "查某集 AI 配乐生成状态:running(是否在生成)+已入库的配乐轨列表(track/覆盖镜段/淡入淡出)+cue 数。免费。配乐 done 后需重新 compose_episode 才进成片。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/chain-frames": {
      "post": {
        "operationId": "chain_frames",
        "summary": "整集首尾帧接力链:让每镜首帧承接上镜尾帧,镜间画面连续(比各镜独立出帧更顺)",
        "description": "整集首尾帧接力链:让每镜首帧承接上镜尾帧,镜间画面连续(比各镜独立出帧更顺)。按用量后付。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/character-sheets": {
      "post": {
        "operationId": "generate_character_sheets",
        "summary": "★批量给全剧角色出设定图(多视角 turnaround)",
        "description": "★批量给全剧角色出设定图(多视角 turnaround)。设定图是镜头帧/视频引用的**一致性根锚**——只出定妆图不出设定图,镜头人物换角度/换光/服装会漂移(2.5 更直接用设定图切片做骨相锚)。只对缺设定图的角色出(不重复扣费)。前置:角色须已有定妆图(缺则拦并提示先出定妆图)。图片步,按用量后付不欠费。轮询 get_characters 看 sheet_status:pending=生成/审计中(设定图约 2~4 分钟,别重复点);ready=入库;**rejected=图已出但被一致性闸拒收**,读 sheet_fail_hint 拒收判词——可重掷一次,连拒理由相同则是锚字段与人物档案冲突,先 run_precheck 再重掷。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/characters": {
      "get": {
        "operationId": "get_characters",
        "summary": "读某一集的角色列表(名字/定妆图/设定图就绪状态)",
        "description": "读某一集的角色列表(名字/定妆图/设定图就绪状态)。免费。每角色带结构化状态:portrait_status/sheet_status(ready=已入库/pending=生成或审计中·别重复点/rejected=图已生成但被一致性闸拒收未入库/failed/none)+ 拒收时的 sheet_fail_reason·sheet_retryable·sheet_fail_hint(拒收判词)。★sheet_status=rejected 时照 retryable 判:consistency_rejected 可重掷一次(generate_character_sheet);**连拒且 fail_hint 理由几乎相同 = 锚字段与人物档案冲突(结构性必拒),重掷纯白花钱**——先 run_precheck 看 anchor-conflict 警告,把 visual_lock/art_bible 里钉死的角色外观移除或对齐档案再重掷。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/compose": {
      "post": {
        "operationId": "compose_episode",
        "summary": "把某一集所有镜头视频拼成一条成片(终拼)",
        "description": "把某一集所有镜头视频拼成一条成片(终拼)。**免费**(纯拼接,无需报价确认),后台异步。发起前有终拼预检:缺视频的镜或仍在生成中的视频任务会 400 硬阻断并列出问题镜(blockers),补齐后重试;确要拼部分成片传 force=true(缺视频镜被跳过,成片缺镜,留痕)。响应里的 advisories(时长偏差/孤儿任务/缺TTS)只提醒不阻断,建议逐条处理后再拼。发起后用 get_final_cut 轮询。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/effects": {
      "post": {
        "operationId": "generate_effects",
        "summary": "给整集自动匹配视觉特效",
        "description": "给整集自动匹配视觉特效。后台异步,按用量后付。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/export": {
      "get": {
        "operationId": "get_export",
        "summary": "查某一集导出/母版状态(成片终拼后的可下载母版)",
        "description": "查某一集导出/母版状态(成片终拼后的可下载母版)。免费。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/extract": {
      "post": {
        "operationId": "extract_assets",
        "summary": "从可拍稿提取角色/场景/道具(一次写三表,是下游一致性的地基)",
        "description": "从可拍稿提取角色/场景/道具(一次写三表,是下游一致性的地基)。后台异步,文本步后付不欠费。前置:已 rewrite_script 产出改写稿(新项目强制;人物档案从改写稿提取才与剧本、分镜自洽)。★分钟级后台任务;用 get_run_status 判断是否还在跑,别拿 60 秒当失败判据。\n★【改写稿审查硬闸·免费】本步前必须先调 review_script:把返回的 findings 逐条原样告诉客户(每条带 code=问题类型、shots=命中镜号、action=该调哪个工具修),再把 review_token 传进本工具。未审查会被 400 拒。审查后又改了内容 → token 自动失效,复审一次即可(仍免费)。有 error 时默认拦截;客户知情并坚持照现状继续,才带 acknowledge_review:true——带病推进大概率产出废片且照常扣费,不要替客户做这个决定。★三档执行策略(别把三档混着问客户):①【基础项目设定·免费·必做地基·建剧即设好,别建空壳】project_type/setting_brief(世界观·ERA LOCK)/ethnicity(族裔)/画幅分辨率,以及一致性锚 cinematography_prompt(摄影DNA)·art_bible(美术圣经)·visual_lock(视觉锁定)——全免费,是驱动全链一致性的地基;不设好,后续所有生成都跑偏、返工重花钱。用 create_drama/update_project_settings 直接设。★visual_lock/art_bible 只写画面级/世界级锁(镜头语言·环境·美术基调·禁入元素),**绝不为具体角色钉服装/发型/外观细节**——角色外观的唯一真相源是 extract_assets 产出的人物档案(要改走 update_character);两处都写必然互相矛盾,定妆图跟档案、设定图跟视觉锁,一致性闸按定妆图拒收 → 设定图/镜头帧**结构性连拒**,重掷多少次都过不了、纯白花钱。★★【逐环节审查协议·全部免费·这是防废片的主线,不是可选项】每个环节产出后先审查、把结论原样告诉客户,再进下一步。**三道硬闸(不过会被 400 拒)**:①改写稿产出后 → review_script(在 extract_assets / generate_storyboards 之前);②分镜产出后 → review_storyboards(在 generate_frames 之前);③镜头图片产出后 → review_frames(在 generate_videos 之前)。每次审查返回 review_token,把它随下游收费工具一起传;findings 逐条讲给客户(code=问题类型·shots=命中镜号·action=该调哪个工具修),按 action 修完后**复审**再走。审查后又改了内容 → token 自动失效,复审一次即可(免费)。有 error 时默认拦截,只有客户明确知情并坚持才带 acknowledge_review:true——别替客户做这个决定。**软引导(不阻断但强烈建议,同样免费)**:出图/出视频前跑 run_precheck(揪出必被厂商拒的镜,防白花钱);分镜后跑 get_health_report;定妆图出完用 get_characters 核对每个出场角色都有 image/sheet;出帧后用 get_storyboards 看 frame_status 与 fail_reason/fail_hint(failed 的镜先修再往下,别带着废帧出视频);出视频后同样看 video_status;成片前用 get_pipeline_status 确认没有缺镜。★**禁止一路 generate 到底**:不审查就连推的做法,问题会在每一层被放大,最后整集废掉重来——而重来的每一次出图/出视频都是真扣费。审查全部免费,拦下来一分钱不花。②【产线主干·按序不跳步·★先分镜再建资产】set_script→rewrite_script→★review_script→extract_assets→storyboards(先分镜·纯文本拆镜)→★review_storyboards→★剧本纪律(端点强制,绕不过):原始素材(梗概/大纲/成品稿都算)一律放 set_script,**必须经 rewrite_script 产出 AI 改写稿**——把自己写好的剧本直接贴进 edit_rewritten_script 绕过改写会被 400 拒(没有改写稿就没有可改的对象),extract_assets 同样要求基于改写稿。改写后的所有修改按 AI 产物的结构化格式做:改稿 edit_rewritten_script(润色/纠正)、人物档案 update_character、分镜 update_shot/replace_shot_dialogue——别回头整篇替换剧本或在设定字段里另写一套,两套真相源打架是一致性事故的头号根源。★★**改写成功一次后就别再重跑 rewrite_script**:它是从原稿整篇重来,当前稿的所有修正全丢,且新版不保证保留旧版已改好的地方(三版实测会来回摆)。要修就 edit_rewritten_script 点改(get_script 取全文 → 只改那几场、其余逐字照抄 → 提交整篇),免费秒级、结果确定;误重跑用 get_script(include_previous=1) 回捞上一版。generate_portraits_and_sheets(定妆图+设定图·分镜后建只给出场角色出图更省)→assign_voices(分配音色)→frames→★review_frames→videos→generate_tts→compose;★别先建角色形象/道具设定图/动作模板再分镜——分镜是纯文本步、不依赖任何图;资产在分镜后建更省更准(动作模板本就必须分镜后)。收费步照现有 quote 报价确认流程。广告另需 add_product+generate_product_sheet;MV 走 set_mv_lyrics→generate_mv_story→generate_mv_script。★世界观概念图=默认必做(提升整剧一致性、很多第三方平台漏做这步):分镜后默认调 generate_world_concept,仍走报价确认流程(告知客户预估点数、确认再扣)——不静默扣费、也别跳过。★分镜后的剧目级资产别漏——尤其 generate_motion_templates(动作模板:从分镜抽取统一全片运动语言,漏了动作会散乱)与 generate_color_script(色彩脚本:统一色调);分镜后、出图前一并做,仍走报价确认。★场景 Bible(每场景详细设定)顺序在**场景图片出图之后**——据出好的场景图完善(MCP 暂无此工具、在官网做);别在出场景图前做场景 Bible。★音频默认用视频原声(use_clip_audio 默认开、跳过 TTS 直接用 AI 视频自带声):建剧/改设定时 AI 应主动告知客户「默认用视频原声,如需 TTS 配音把 use_clip_audio 设 false」,让客户选。★图片模型默认香蕉2(Nano Banana 2 = gemini-3.1-flash-image·整剧统一画风):create_drama/update_project_settings 的 image_model 设,不传即默认香蕉2;可选 gemini-3-pro-image(香蕉Pro·更精细·175点)/gemini-3.1-flash-lite-image(香蕉2 Lite·便宜·31点)/doubao-seedream-5-0-260128(Seedream5.0)/gpt-image-2(ChatGPT Image2);generate_frames 可临时覆盖某次。★视频引擎四选一(drama级·AI 建剧时必须主动按剧选型引导并给价差让客户定):【选型决策树】①写实真人剧→seedance-2.5(默认·指令遵循/人脸细节最强·720p 212点/秒),预算敏感可 hailuo-3(约1/3成本70点/秒·强保真编辑·但单镜约6分钟);②风格化/动画/3D卡通剧·空镜·产品镜→wan3.0(约4折84点/秒·最长30秒·最短2秒计费·单镜约2分钟),赶交付用 wan3.0-prime(126点/秒·约1分钟);③★写实真人剧绝不选 wan3.0/prime——WAN 输出侧真人脸审核在 720p+ 一致拒、重试救不回;④★★叙事剧(有对白、讲连贯故事、镜头节奏要稳的)慎选 wan3.0/prime:WAN 会在**单个分镜片内自行换机位硬切**(实测 11/12 镜有镜内跳切,对照 seedance-2.5 仅 1/6、hailuo-3 为 0/5),成片观感是「一个镜头里画面跳来跳去、切太快」;这是厂商指令遵循弱、提示词层拦不住(我方负向约束早已在其中且实测无效),事后只能换引擎重生。WAN 适合镜头本就短平快的风格化/空镜/产品镜;要稳定单镜叙事请选 seedance-2.5 或 hailuo-3。生成后可用 scan_intra_shot_cuts 核查;【分辨率决策】草稿/迭代期:WAN 剧 480p(42点/秒最省)、其余 720p;成片交付:seedance 剧 720p(高清档停售)、hailuo-3 剧 1080p(=2K·112点/秒)、WAN 剧 1080p(168点/秒);hailuo-3 无独立 480p 档(选了也按 768P 计费);create_drama/update_project_settings 的 video_engine/video_resolution 设,★都必须在出视频前定——切换不回溯已生成镜头,同剧混用会画风/身份漂移。★图片生成慢≠失败:每张几十秒~数分钟、整集可能十几分钟,轮询 get_storyboards 看 frame_status——pending=还在生成(耐心等、别重复调 generate_frames 白花钱)、ready=完成、failed=才是真失败。★改某一镜画面 / 换定妆图后要让新图生效,走**单镜重生 generate_shot_frame**(平台自动带该镜身份锚·场景道具参考·画风锚,保全片一致);generate_frames 只批量补「缺帧」的镜、已有首帧的镜跳过(正常、不是\"拒绝\"),尾帧用 frame_type=last_frame 可批量补。换定妆图(set_character_portrait)后响应里的 stale_frames 就是被旧图污染、需逐镜重生的镜。★绝不用外部工具自制首尾帧再 upload_shot_frame 来\"改画面\"——外部图无身份锚/画风锚,人物·服装·画风必漂,那才是废片根源;upload_shot_frame 只用于客户自有真实素材。③【可选增强·AI 主动提示客户·报价确认才做】美术圣经生成/视觉锁抽取/色彩脚本/动作模板/场景图/场景组/口型/海报/音效/配乐/字幕翻译——这些提升一致性/质量、大多收费。★AI 应主动告知客户这些可做并给报价,客户确认才跑;既不默默跳过、也不擅自扣费。★两条锁定纪律:①**画幅比例**在 create_drama 即定、drama 级锁定,之后所有出图/出视频/成片都用它、**别中途改**(改了已生成内容画幅会不一致、漂移);不设默认 9:16。②**拆镜每镜 5-7 秒是对 AI 出视频优化的正常时长**,别因「镜偏长」误判就重拆——generate_storyboards 会**替换整集所有分镜**、已出图白费,已有分镜后端会拦、需 confirm_replace。★改写保真(默认 auto 智能路由):set_script 的原稿**本身已是剧本形态**(场景头/对白行结构)时,rewrite_script 自动走两步保真——客户台词逐句由机器闸锁定(丢一句即内部拒收重做)、AI 绝不加戏;剧作缺口(钩子/情感锚点)不自动补,写进 get_script 返回的 dramaturgy_suggestions 由客户决定采纳。原稿是小说/大纲则自动走创作型改写(AI 铺钩子造情感点),两种客户各得其所、无需手动切换。要覆盖默认用 update_project_settings 的 rewrite_pipeline(auto/two_pass/single_forced)与 fidelity_enforce(1=保真硬闸)。客户说「AI 把我的剧本改偏了」时的处置:①确认完整原稿已进 set_script;②rewrite_pipeline 设 two_pass 强制保真后重跑 rewrite_script;③客户确认角色外观后用 update_character 的 profile_locked=1 锁定档案,防后续提取覆盖外貌导致定妆图换脸。用 get_pipeline_status 查进度(按项目类型返回专属步骤)。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "review_token": {
                    "type": "string"
                  },
                  "acknowledge_review": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/final-cut": {
      "get": {
        "operationId": "get_final_cut",
        "summary": "查某一集成片状态与下载链接",
        "description": "查某一集成片状态与下载链接。status=completed 时返回 download_url(我方 COS 直链,可直接下载)。免费。★bgm_stale=true 表示配乐在成片之后生成/改动、尚未进成片:重新 compose_episode(免费)即可,别用 re-render。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/frames/generate": {
      "post": {
        "operationId": "generate_frames",
        "summary": "确认后批量出帧:后台异步",
        "description": "确认后批量出帧:后台异步。用 get_storyboards 轮询,first_frame_image/last_frame_image 逐镜填充即完成。★图片生成较慢——每张几十秒到数分钟(尤其高清模型),整集可能十几分钟。轮询看 frame_status:**pending=还在生成(继续耐心等,别当失败、别重复调 generate_frames,重复触发=白花钱)**、ready=完成、failed=才是真失败。别因为「等了一会儿还没出」就判定生成失败或重试。出视频前必须先出帧,否则视频会退化成无一致性锚点的画面。frame_type 要与 quote_frames 用的一致(默认 first_frame)。★这是**批量补缺帧**:只给「缺该帧」的镜出图,已有首帧的镜会跳过——这是正常设计、不是\"系统拒绝重出\"。要**重出/重画某一镜已有的帧**(如换了定妆图要让新图生效),用 generate_shot_frame(单镜重生,平台带身份锚),不是这个工具、更不是自制图 upload_shot_frame。★尾帧能批量出:frame_type=last_frame 会给「已有首帧且缺尾帧」的镜批量补尾帧(尾帧只在想固定某镜结尾画面/大运镜时才需,常规只出首帧)。★响应里的 frames_planned 是**计划数,不是已成功数**——本接口在后台派发循环开跑之前就返回了。真实进度只看 get_storyboards 的 first_frame_image / get_jobs 的逐条生成记录;余额不足(402)会中止整批,此时轮询再久也不会有结果,应去查余额而不是继续等。\n★【分镜审查硬闸·免费】本步前必须先调 review_storyboards:把返回的 findings 逐条原样告诉客户(每条带 code=问题类型、shots=命中镜号、action=该调哪个工具修),再把 review_token 传进本工具。未审查会被 400 拒。审查后又改了内容 → token 自动失效,复审一次即可(仍免费)。有 error 时默认拦截;客户知情并坚持照现状继续,才带 acknowledge_review:true——带病推进大概率产出废片且照常扣费,不要替客户做这个决定。⚠️ 批量报价确认流程:先调对应的 quote_* 工具,把返回的 estimated_points 原样告诉用户,用户明确同意后,才用返回的 quote_id 调本工具。不要擅自确认。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_id": {
                    "type": "string",
                    "description": "来自 quote_frames"
                  },
                  "frame_type": {
                    "type": "string",
                    "enum": [
                      "first_frame",
                      "last_frame",
                      "both"
                    ]
                  },
                  "image_model": {
                    "type": "string"
                  },
                  "review_token": {
                    "type": "string"
                  },
                  "acknowledge_review": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "quote_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/frames/quote": {
      "post": {
        "operationId": "quote_frames",
        "summary": "报价:给某一集批量出帧要多少点",
        "description": "报价:给某一集批量出帧要多少点。返回 frames_to_generate、estimated_points、quote_id。零扣费。frame_type 默认 first_frame(只给缺首帧的镜出);last_frame 只给「已有首帧且缺尾帧」的镜出;both 两者都补。★报价按**实际会用的模型与分辨率**分档,响应带 price_breakdown(逐档张数与单价);打算在 generate_frames 里临时换模型,报价时就要把同一个 image_model 传进来,否则两边不是一个价。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "frame_type": {
                    "type": "string",
                    "enum": [
                      "first_frame",
                      "last_frame",
                      "both"
                    ]
                  },
                  "image_model": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/handoff-pack": {
      "get": {
        "operationId": "export_handoff_pack",
        "summary": "导出本集「素材交接包」清单:逐镜裸片 + 对白音轨 + 音效 + 配乐 + 字幕的可下载 URL,交给你在**自己那边**完成转场决策、拼接、混音、烧字幕——平台不参与终拼",
        "description": "导出本集「素材交接包」清单:逐镜裸片 + 对白音轨 + 音效 + 配乐 + 字幕的可下载 URL,交给你在**自己那边**完成转场决策、拼接、混音、烧字幕——平台不参与终拼。免费,零扣费。\n\n【推荐流程】① 调本工具拿 manifest;② 按 clips[].url 把裸片下载到本地;③ 你自己看片判断每个接缝该用什么转场(manifest 给了 scene_boundary 场景边界作判据),写一份 plan.json;④ 用 get_handoff_toolchain 拿到 compile_timeline.py 展开时间轴、assemble.sh 装配出成片。工具链已经把「加了重叠转场之后字幕/对白/音效怎么跟着位移」算好了。\n\n【三个不看就会翻车的事实】\n① audio_contract.mode=\"tts\" 时**裸片里没有人声**,对白在 dialogue_audio 里;不铺就是整集没台词。mode=\"clip\" 时人声已烤在裸片音轨里,反过来**不要**再叠。\n② 每镜必须按 trim_head_ms / duration_ms 裁剪再用;直接拼整条裸片会把平台已经 QC 掉的首尾形变帧一起拼进去。\n③ 字幕 cue、dialogue_audio.offset_ms、sfx[].offset_ms 的基准都是「该镜 trim 之后的第 0 毫秒」,不是成片绝对时间。你加多少重叠转场都不用改它们——交给 compile_timeline.py 展开,别手算累加。\n\n想让平台代拼、要平台级质量闸(终拼预检/音画等长/响度母带),改用 compose_episode。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/health-report": {
      "get": {
        "operationId": "get_health_report",
        "summary": "(★推荐·免费诊断)读分镜出体检报告:时长超标/母题覆盖不足/问题镜",
        "description": "(★推荐·免费诊断)读分镜出体检报告:时长超标/母题覆盖不足/问题镜。纯读、免费。出图前查,识别问题先改再出、别出了片才发现。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient prepaid balance (never overdrafts); response carries `needed` points"
          }
        }
      }
    },
    "/episodes/{episode_id}/intra-shot-cuts": {
      "get": {
        "operationId": "scan_intra_shot_cuts",
        "summary": "★客户报「镜头切太快 / 一个镜头里画面跳来跳去」时先跑这个",
        "description": "★客户报「镜头切太快 / 一个镜头里画面跳来跳去」时先跑这个。免费零扣费。一个分镜本应是**一个连续镜头**,但厂商可能在片内自行换机位硬切(望远镜特写→高空全景→人物中景),这类切点在分镜表和 timeline 里都看不到——只能扫画面。返回 shots_with_cuts(有镜内跳切的镜号)/total_cuts/engine_suspect/message。★判读:成片观感切点 = 镜与镜的接缝 + 这里报的镜内跳切;若本项占了大头,那不是剪辑节奏问题,重新拆镜或改转场都没用。engine_suspect=true 表示本剧引擎是已知高发源(WAN),实测 WAN 11/12 镜有镜内跳切、Seedance 1/6、H3 0/5,且提示词层拦不住(负向约束已在其中)——要根治只能 regenerate_shot_video 这些镜并换 seedance-2.5 或 hailuo-3。组模式镜与显式快剪蒙太奇镜天然多机位,已自动排除(detail 里标 skipped)。",
        "tags": [
          "episodes"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarReel envelope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "description": "Operation result payload"
                    }
                  }
                }
              }
            }
          },
          "402": {
[...]
